.header {
  width: 100%;
}
.header__nav {
  height: 85px;
  width: inherit;
  border-bottom: 1px solid @color-grey-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 5;
}
.header__nav--icon {
  display: block;
  padding: 34px 34px 33px;
  color: transparent;
  &-location {
    background: no-repeat center/18px url('..//img/icon/map-marker-big.svg');
    border-right: 1px solid @color-grey-light;
    &:hover {
      padding-inline: 33px 34px;
      background: no-repeat center/18px url('..//img/icon/map-marker-big-hover.svg');
    }
    &-white {
      background: no-repeat center/18px url('..//img/icon/map-marker-big-white.svg');
    }
  }
  &-logo {
    background: no-repeat center/30px url('..//img/icon/logo.svg');
    &:hover {
      background: no-repeat center/30px url('..//img/icon/logo-hover.svg');
    }
    &-white {
      background: no-repeat center/30px url('..//img/icon/logo-white.svg');
    }
  }
  &-tel {
    background: no-repeat center/18px url('..//img/icon/phone.svg');
    border-left: 1px solid @color-grey-light;
    &:hover {
      background: no-repeat center/18px url('..//img/icon/phone-hover.svg');
    }
    &-white {
      background: no-repeat center/18px url('..//img/icon/phone-white.svg');
    }
  }
}

.header__nav-menu {
  display: flex;
  gap: 50px;
}
.header__nav-menu--link {
  position: relative;
  border-right: 3px solid transparent;
  & a:hover::before {
    font-size: 12px;
    content: "";
    position: absolute;
    bottom: -32px;
    width: 100%;
    height: 2px;
    background-color: @color-black;
  }
  &:hover {
    border-right: 2.7px solid transparent;
  }
}
.header__nav-white a {
  color: @color-white;
  &:hover::before {
    background-color: @color-white;
  }
}
.header__nav-menu--link-position:hover {
  border-right: 3.6px solid transparent;
}
.header__nav-menu--link-position-2:hover {
  border-right: 1.6px solid transparent;
}
.header__nav-menu--link-position-3:hover {
  border-right: 3.6px solid transparent;
}
.header__nav-menu--link-position-4:hover {
  border-right: 0px solid transparent;
}

.header__title {
  width: 100vw;
  margin: 85px auto 0px;
  text-align: center;
  padding-block: 64px 84px;
  position: absolute;
  display: grid;
  justify-content: center;
  z-index: 5;
}
.header__services {
  padding-top: 460px;
}
.header__title-svg {
  text-align: center;
  padding-bottom: 60px;
  background: no-repeat center url('..//img/slider/v-moskve-i-moskovskoj-oblasti-black.svg');
  margin-bottom: 44px;
  &--white {
    background: no-repeat center url('..//img/slider/v-moskve-i-moskovskoj-oblasti-white.svg');
  }
}
