@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'), url('Gilroy-Light.eot?#iefix') format('embedded-opentype'), url('Gilroy-Light.woff') format('woff'), url('Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'), url('Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'), url('Gilroy-Extrabold.woff') format('woff'), url('Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Gilroy', "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  background-color: #FFFFFF;
}
.page {
  height: 100%;
}
.page-body {
  display: grid;
  grid-auto-rows: 810px 1fr min-content;
  min-height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 425px) {
  .container {
    width: 300px;
  }
}
a {
  text-decoration: none;
  color: #222222;
}
a:hover {
  font-weight: bold;
  display: inline-block;
}
a:active {
  font-weight: bold;
  color: #909090;
}
a:disabled {
  font-weight: bold;
  color: #EBEBEB;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
p {
  margin: 0px;
}
h1 {
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  margin: 0px 0px 16px;
}
h1 span {
  font-size: 62px;
  color: #FFFFFF;
  text-shadow: -1px -1px 0 #222222, 1px -1px 0 #222222, -1px 1px 0 #222222, 1px 1px 0 #222222;
}
.h1 {
  width: 100vw;
}
h2 {
  margin: 0px 0px 48px;
  font-size: 32px;
  line-height: 40px;
  position: relative;
}
h2 span {
  font-size: 30px;
  color: #FFFFFF;
  text-shadow: -1px -1px 0 #222222, 1px -1px 0 #222222, -1px 1px 0 #222222, 1px 1px 0 #222222;
}
section > h2::before {
  content: "";
  position: absolute;
  top: 19.5px;
  left: -80px;
  width: 40px;
  height: 1px;
  background-color: #222222;
}
h3 {
  margin: 0px 0px 8px;
}
input,
textarea {
  padding: 0px;
  border: none;
}
input:hover,
textarea:hover {
  outline: none;
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
  border: none;
}
textarea {
  resize: none;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.header {
  width: 100%;
}
.header__nav {
  height: 85px;
  width: inherit;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 5;
}
.header__nav--icon {
  display: block;
  padding: 34px 34px 33px;
  color: transparent;
}
.header__nav--icon-location {
  background: no-repeat center / 18px url('..//img/icon/map-marker-big.svg');
  border-right: 1px solid #EBEBEB;
}
.header__nav--icon-location:hover {
  padding-inline: 33px 34px;
  background: no-repeat center / 18px url('..//img/icon/map-marker-big-hover.svg');
}
.header__nav--icon-location-white {
  background: no-repeat center / 18px url('..//img/icon/map-marker-big-white.svg');
}
.header__nav--icon-logo {
  background: no-repeat center / 30px url('..//img/icon/logo.svg');
}
.header__nav--icon-logo:hover {
  background: no-repeat center / 30px url('..//img/icon/logo-hover.svg');
}
.header__nav--icon-logo-white {
  background: no-repeat center / 30px url('..//img/icon/logo-white.svg');
}
.header__nav--icon-tel {
  background: no-repeat center / 18px url('..//img/icon/phone.svg');
  border-left: 1px solid #EBEBEB;
}
.header__nav--icon-tel:hover {
  background: no-repeat center / 18px url('..//img/icon/phone-hover.svg');
}
.header__nav--icon-tel-white {
  background: no-repeat center / 18px url('..//img/icon/phone-white.svg');
}
.header__nav-menu {
  display: flex;
  gap: 50px;
}
.header__nav-menu--link {
  position: relative;
  border-right: 3px solid transparent;
}
.header__nav-menu--link a:hover::before {
  font-size: 12px;
  content: "";
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 2px;
  background-color: #222222;
}
.header__nav-menu--link:hover {
  border-right: 2.7px solid transparent;
}
.header__nav-white a {
  color: #FFFFFF;
}
.header__nav-white a:hover::before {
  background-color: #FFFFFF;
}
.header__nav-menu--link-position:hover {
  border-right: 3.6px solid transparent;
}
.header__nav-menu--link-position-2:hover {
  border-right: 1.6px solid transparent;
}
.header__nav-menu--link-position-3:hover {
  border-right: 3.6px solid transparent;
}
.header__nav-menu--link-position-4:hover {
  border-right: 0px solid transparent;
}
.header__title {
  width: 100vw;
  margin: 85px auto 0px;
  text-align: center;
  padding-block: 64px 84px;
  position: absolute;
  display: grid;
  justify-content: center;
  z-index: 5;
}
.header__services {
  padding-top: 460px;
}
.header__title-svg {
  text-align: center;
  padding-bottom: 60px;
  background: no-repeat center url('..//img/slider/v-moskve-i-moskovskoj-oblasti-black.svg');
  margin-bottom: 44px;
}
.header__title-svg--white {
  background: no-repeat center url('..//img/slider/v-moskve-i-moskovskoj-oblasti-white.svg');
}
.services {
  padding-block: 172px 20px;
  display: block;
  color: #FFFFFF;
}
.services__h2 {
  font-size: 20px;
  line-height: 25px;
  margin: 0px;
  color: #FFFFFF;
}
.services__h2 a {
  color: #FFFFFF;
}
.services__bg {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('..//img/slider/base.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services__bg--red {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('..//img/slider/services.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  padding-top: 632px;
}
.services__bg--green {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('..//img/slider/types-of-work.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  padding-top: 632px;
}
.services__bg--blue {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('..//img/slider/design.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  padding-top: 632px;
}
.services__bg--purple {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../img/slider/repair.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  padding-top: 632px;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: stretch;
  text-align: center;
  padding-bottom: 10px;
}
.services__list-item {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.services__list-item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.services__title--red,
.services__title--green,
.services__title--blue,
.services__title--purple {
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  padding-bottom: 18px;
  width: 100vw;
}
.services__list-item--red {
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
  background-color: #EB5757;
  padding: 500px 40px 34px;
  width: calc(25vw - 80px);
  z-index: 2;
}
.services__list-item--green {
  display: block;
  position: absolute;
  top: 0px;
  left: 25%;
  background-color: #219653;
  padding: 500px 40px 34px;
  width: calc(25vw - 80px);
  z-index: 2;
}
.services__list-item--blue {
  display: block;
  position: absolute;
  top: 0px;
  left: 50%;
  background-color: #2F80ED;
  padding: 500px 40px 34px;
  width: calc(25vw - 80px);
  z-index: 2;
}
.services__list-item--purple {
  display: block;
  position: absolute;
  top: 0px;
  left: 75%;
  background-color: #9B51E0;
  padding: 500px 40px 34px;
  width: calc(25vw - 80px);
  z-index: 2;
}
.services__text--red,
.services__text--green,
.services__text--blue,
.services__text--purple {
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: normal;
  padding: 16px 0px 31px;
}
.services__btn {
  margin: 22px auto 3px;
  text-align: center;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: no-repeat center / 15px url('..//img/icon/arrow-down.svg');
  border-radius: 50%;
}
.services__btn-item--red,
.services__btn-item--green,
.services__btn-item--blue,
.services__btn-item--purple {
  width: 38px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: no-repeat center / 15px url('..//img/icon/arrow-down.svg');
  transform: rotate(-90deg);
  border-radius: 50%;
  margin: 0 auto 12px;
  cursor: pointer;
}
.services__btn-item--red:hover,
.services__btn-item--green:hover,
.services__btn-item--blue:hover,
.services__btn-item--purple:hover {
  border: 2px solid #FFFFFF;
  width: 36px;
  height: 36px;
}
.button {
  border: 1px solid #909090;
  padding: 9px 48px;
  display: block;
  margin: 0 auto;
  width: -moz-min-content;
  width: min-content;
  font-weight: bold;
  position: relative;
}
.button:hover {
  display: block;
  border: 1px solid #222222;
}
.button:active {
  border: 1px solid #909090;
  color: #909090;
}
.button:disabled {
  border: 1px solid #EBEBEB;
}
.button::before {
  content: "";
  position: absolute;
  top: 19.5px;
  left: -10px;
  width: 20px;
  height: 1px;
  background-color: #222222;
}
.button:active::before {
  background-color: #909090;
}
.button:disabled::before {
  background-color: #EBEBEB;
}
.button__white {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
}
.button__white:hover {
  border: 1px solid #FFFFFF;
}
.button__white:active {
  border: 1px solid #909090;
}
.button__white::before {
  background-color: #FFFFFF;
}
.button-arrow {
  padding: 20px;
}
#portfolio {
  padding-top: 136px;
  margin-bottom: 136px;
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(4, 270px);
  gap: 10px;
  grid-template-areas: "card1 card1 card2" "card3 card4 card2" "card5 card6 card7" "card5 card8 card8";
  margin-bottom: 64px;
}
.portfolio__card1 {
  grid-area: card1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//img/portfolio/1.jpg');
  background-repeat: no-repeat;
}
.portfolio__card1:hover {
  background: url('..//img/portfolio/1.jpg');
  cursor: pointer;
}
.portfolio__card2 {
  grid-area: card2;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//img/portfolio/2.jpg');
  background-repeat: no-repeat;
}
.portfolio__card2:hover {
  background: url('..//img/portfolio/2.jpg');
  cursor: pointer;
}
.portfolio__card3 {
  grid-area: card3;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//img/portfolio/3.jpg');
  background-repeat: no-repeat;
}
.portfolio__card3:hover {
  background: url('..//img/portfolio/3.jpg');
  cursor: pointer;
}
.portfolio__card4 {
  grid-area: card4;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//img/portfolio/4.jpg');
  background-repeat: no-repeat;
}
.portfolio__card4:hover {
  background: url('..//img/portfolio/4.jpg');
  cursor: pointer;
}
.portfolio__card5 {
  grid-area: card5;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//img/portfolio/5.jpg');
  background-repeat: no-repeat;
}
.portfolio__card5:hover {
  background: url('..//img/portfolio/5.jpg');
  cursor: pointer;
}
.portfolio__card6 {
  grid-area: card6;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//img/portfolio/6.jpg');
  background-repeat: no-repeat;
}
.portfolio__card6:hover {
  background: url('..//img/portfolio/6.jpg');
  cursor: pointer;
}
.portfolio__card7 {
  grid-area: card7;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//img/portfolio/7.jpg');
  background-repeat: no-repeat;
}
.portfolio__card7:hover {
  background: url('..//img/portfolio/7.jpg');
  cursor: pointer;
}
.portfolio__card8 {
  grid-area: card8;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('..//img/portfolio/8.jpg');
  background-repeat: no-repeat;
}
.portfolio__card8:hover {
  background: url('..//img/portfolio/8.jpg');
  cursor: pointer;
}
.portfolio__title {
  margin-top: 32px;
  margin-left: 32px;
  color: #FFFFFF;
  font-size: 20px;
}
#contact {
  margin-bottom: 24px;
}
.contact__map {
  display: flex;
  gap: 10px;
  margin-bottom: 135px;
  justify-content: space-between;
}
.contact__map-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 30px;
  max-width: 610px;
}
.contact__map-list div {
  min-width: 260px;
}
.contact__map-social {
  display: flex;
  gap: 10px;
  text-align: center;
}
.contact__map-social li {
  background-color: #222222;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.contact__map-social li:hover {
  background-color: #C6876D;
}
.contact__map-social li:active {
  background-color: #6D5247;
}
.contact__map-form {
  flex-basis: 370px;
  width: 370px;
}
.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  line-height: 12px;
}
.contact__label {
  padding-bottom: 20px;
}
.contact__label input,
.contact__label textarea {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #EBEBEB;
  font-size: 13px;
  line-height: 24px;
}
.contact__label input:hover,
.contact__label textarea:hover,
.contact__label input:focus,
.contact__label textarea:focus {
  border-bottom: 1px solid #222222;
}
.contact__label input::-moz-placeholder, .contact__label textarea::-moz-placeholder {
  color: #909090;
  font-weight: 100 !important;
}
.contact__label input::placeholder,
.contact__label textarea::placeholder {
  color: #909090;
  font-weight: 100 !important;
}
.message {
  height: 24px;
  background: no-repeat center / 18px url('..//img/icon/clip.svg');
  background-position: 100%;
}
.message:hover {
  background: no-repeat center / 18px url('..//img/icon/clip-hover.svg');
  background-position: 100%;
}
.contact__form--privacy {
  color: #909090;
  margin-bottom: 33px;
}
.contact__form--privacy a {
  color: #909090;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.contact__form--privacy a:hover {
  font-weight: normal;
  color: #222222;
}
.contact__form--privacy a:active {
  font-weight: normal;
  color: #909090;
}
.contact__form--privacy a:disabled {
  font-weight: normal;
  color: #EBEBEB;
}
button {
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.contact__copyright {
  border-top: 1.5px solid #222222;
  padding-top: 24.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
